[submodule "frontend"]
    path = frontend
    url = https://github.com/jesusizq/3dProcessor-frontend.git

[submodule "mesh-processor"]
    path = mesh-processor
    url = https://github.com/jesusizq/mesh-processor.git
