{
    # Deactivate automatic SSL since we are behind a proxy with SSL
    auto_https off
}

http://{$DOMAIN} {
    # Proxy to the frontend
    reverse_proxy frontend:80

    # Ensure correct MIME types for WASM and JS modules
    header {
        # Enable HSTS
        Strict-Transport-Security "max-age=31536000;"
        # Global CORS
        Access-Control-Allow-Origin "*"
    }

    log {
        output file /var/log/caddy/access.log
    }
}
